<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/icofont.min.css" />
    <link rel="stylesheet" href="~/assets/css/classy-nav.min.css" />
    <link rel="stylesheet" href="~/assets/css/animate.css" />
    <link rel="stylesheet" href="~/assets/css/owl.carousel.css" />
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css" />
    <link rel="stylesheet" href="~/assets/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="~/assets/css/style.css" />
    <link rel="stylesheet" href="~/assets/css/responsive.css" />
    <link rel="stylesheet" href="~/assets/css/custom.css" />
    <title>EduField - Education & Online Courses HTML Template</title>
    <link rel="icon" type="image/png" href="~/assets/img/favicon.png" />
</head>
<body>
    <div class="preloader-area">
        <div class="loader">
            <div class="dots">
                <i class="dots-item dots-item-move-down"></i> <i class="dots-item dots-item-move-left"></i> <i class="dots-item dots-item-move-left"></i> <i class="dots-item dots-item-move-left"></i>
                <i class="dots-item dots-item-move-left"></i> <i class="dots-item dots-item-move-down"></i> <i class="dots-item dots-item-move-right"></i> <i class="dots-item dots-item-move-right"></i>
                <i class="dots-item dots-item-move-down"></i> <i class="dots-item dots-item-move-up"></i> <i class="dots-item dots-item-move-down"></i> <i class="dots-item dots-item-move-up"></i> <i class="dots-item"></i>
                <i class="dots-item dots-item-move-down"></i> <i class="dots-item dots-item-move-up"></i> <i class="dots-item dots-item-move-down"></i> <i class="dots-item dots-item-move-up"></i>
                <i class="dots-item dots-item-move-left"></i> <i class="dots-item dots-item-move-left"></i> <i class="dots-item dots-item-move-up"></i> <i class="dots-item dots-item-move-right"></i>
                <i class="dots-item dots-item-move-right"></i> <i class="dots-item dots-item-move-right"></i> <i class="dots-item dots-item-move-right"></i> <i class="dots-item dots-item-move-up"></i>
            </div>
        </div>
    </div>

    <div class="top-custom-header-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-5">
                    <p>Brainfield educational service is Open 24/7 to serve you</p>
                </div>
                <div class="col-lg-7 col-md-7">
                    <ul>
                        <li><a href="#">Login</a></li>
                        <li><a href="#">Register</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="main-header-area header-sticky">
        <div class="container">
            <div class="classy-nav-container breakpoint-off">
                <nav class="classy-navbar justify-content-between" id="EduStudyNav">
                    <a class="nav-brand" href="index-two.html"><img src="~/assets/img/logo.png" alt="logo" /></a>
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>
                    <div class="classy-menu">
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>
                        @await Component.InvokeAsync("Menu")
                    </div>
                </nav>
            </div>
        </div>
    </div>

    @RenderBody()

    <footer class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="single-footer">
                        <h3>About Brainfield</h3>
                        <ul class="footer-contact-info">
                            <li>2750 Quadra Street , Park Area, Victoria, Canada.</li>
                            <li><a href="#">+91 90647 26794</a></li>
                            <li><a href="#">+91 81164 42050</a></li>
                            <li><a href="#"><span>info@brainfieldindia.in</span></a></li>
                        </ul>
                        <ul class="social">
                            <li>
                                <a href="#"><i class="icofont-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="icofont-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="icofont-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="icofont-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="icofont-pinterest"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-footer">
                        <h3>Courses</h3>
                        <ul class="list">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Blogs</a></li>
                            <li><a href="#">News</a></li>
                            <li><a href="#">Downloads</a></li>
                            <li><a href="#">Gallery</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Study Materials</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-footer">
                        <h3>Links</h3>
                        <ul class="list">
                            <li><a href="#">Login</a></li>
                            <li><a href="#">Register</a></li>                            
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">My Exams</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-footer">
                        <h3>Videos</h3>
                        <ul class="list">
                            <li><a asp-action="Index" asp-controller="StudyVideos">Free Videos</a></li>
                            <li><a href="#">Premium Videos</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-5">
                        <p>Copyright <i class="icofont-copyright"></i> 2021 Brainfield. All rights reserved</p>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <a href="https://www.hitwebcounter.com" target="_blank">
                            <img src="https://hitwebcounter.com/counter/counter.php?page=7888715&style=0006&nbdigits=6&type=page&initCount=60000" 
                                 title="Free Counter" Alt="web counter" border="0" />
                        </a>
                    </div>
                    <div class="col-lg-5 col-md-5">
                        <ul>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <a class="scrolltop" href="#top"><i class="icofont-hand-drawn-up"></i></a>
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/classy-nav.min.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/js/jquery.counterup.min.js"></script>
    <script src="~/assets/js/waypoints.min.js"></script>
    <script src="~/assets/js/main.js"></script>
    @await Component.InvokeAsync("Notyf")
    @RenderSection("Scripts", required: false)
</body>
</html>