.mt-30 {
    margin-top: 6rem !important;
}

.blog-img {
    height: 220px;
}

    .blog-img img {
        height: 100%;
    }

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.top-custom-header-area {
    background-color: dodgerblue;
    padding: 7px;
    color: white;
}

    .top-custom-header-area p {
        color: white;
    }

    .top-custom-header-area ul {
        text-align: left;
        float: right;
    }

        .top-custom-header-area ul li {
            display: inline-block;
            font-size: 15px;
            border-left: 1px solid #3a3a3a;
            padding-right: 7px;
            padding-left: 13px;
            line-height: 1
        }

            .top-custom-header-area ul li:first-child {
                padding-left: 0;
                border-left: none
            }

            .top-custom-header-area ul li a {
                color: white;
            }


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .mt-30 {
        margin-top: 0rem !important;
    }
}
