@model NewBrainfieldNetCore.Viewmodels.Menu.MenuViewModel

@{
    //Layout = "_FrontendLayout";
    Layout = null;
}

<div class="classynav">
    <ul>
        <li class="cn-dropdown-item has-down pr12">
            <a asp-action="Index" asp-controller="Home" class="active">Home</a>
        </li>
        <li class="cn-dropdown-item has-down pr12">
            <a href="#">About Us</a>
        </li>
        <li>
            <a href="#">Exams</a>
            <ul class="dropdown">
                @foreach (var x in Model.ExamCategories)
                {
                    <li>
                        <a asp-action="Index" asp-controller="Exams" asp-route-id="@x.ExamCategoryName">
                            @x.ExamCategoryName
                        </a>
                    </li>

                }
            </ul>
        </li>
        <li class="cn-dropdown-item has-down pr12">
            <a href="#">Packages</a>
        </li>
        <li class="cn-dropdown-item has-down pr12">
            <a href="#">Videos</a>
            <ul class="dropdown">
                <li><a asp-controller="StudyVideos" asp-action="Index">Free Video</a></li>
                <li><a href="blog-style-two.html">Premium Videos</a></li>
            </ul>
        </li>
        <li class="cn-dropdown-item has-down pr12">
            <a href="#">Study Material</a>
            <ul class="dropdown">
                @foreach (var y in Model.StudyMaterialCategories)
                {
                    <li>
                        <a asp-action="Index" asp-controller="StudyMaterial" asp-route-id="@y.StudyMaterialCategoryID">
                            @y.StudyMaterialCategoryName
                        </a>
                    </li>
                }
            </ul>
        </li>
        <li class="cn-dropdown-item has-down pr12">
            <a asp-action="Index" asp-controller="Download">Download</a>
        </li>
    </ul>
</div>