@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model NewBrainfieldNetCore.Dto.NewsDTO

@{
    Layout = "_AdminLayout";
}

<!-- include summernote css/js -->
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <form asp-controller="News" asp-action="Add" enctype="multipart/form-data" method="post">
                    <div class="card-header">
                        <h3 class="card-title">Add News</h3>
                        <div class="card-tools">                            
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="position-relative form-group">
                            <label asp-for="NewsHeadline" class=""></label>
                            <input asp-for="NewsHeadline" type="text" class="form-control" placeholder="News Headline">
                            <span asp-validation-for="NewsHeadline" class="text-danger"></span>
                        </div>

                        <div class="position-relative form-group">
                            <label asp-for="NewsShortDetail" class=""></label>
                            <input asp-for="NewsShortDetail" type="text" class="form-control" placeholder="News Short Detail">
                            <span asp-validation-for="NewsShortDetail" class="text-danger"></span>
                        </div>

                        <div class="position-relative form-group">
                            <label asp-for="NewsDetail" class=""></label>
                            <textarea asp-for="NewsDetail" type="text" class="form-control" id="summernote"></textarea>
                            <span asp-validation-for="NewsDetail" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <div class="custom-file">
                                <label asp-for="ImageName" class=""></label>
                                <input asp-for="ImageName" type="file" class="custom-file-input" id="customFile" accept="image/*">
                                <label class="custom-file-label" for="customFile">Choose file</label>
                                <span asp-validation-for="ImageName" class="text-danger"></span>
                            </div>
                        </div>

                    </div>

                    <div class="card-footer">
                        <a class="btn btn-outline-primary btn-lg pull-left"
                           asp-area="Admin"
                           asp-controller="News"
                           asp-action="Index">
                            News List
                        </a>

                        <input type="reset" class="btn btn-outline-light btn-lg pull-right ml-3" value="Cancel">

                        <input type="submit" class="btn btn-outline-success btn-lg pull-right" value="Save">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>



@section scripts{

    <script type="text/javascript">
        //$(".custom-file-input").on("change", function () {
        //    var fileName = $(this).val().split("\\").pop();
        //    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        //});

        $('#summernote').summernote({
            placeholder: 'News Details',
            tabsize: 2,
            height: 200
        });

    </script>
}