@model NewBrainfieldNetCore.Viewmodels.StudyMaterialCheckoutViewModel
@{
    Layout = "_FrontendLayout";
}
<style>
    .form-control {
        border: 1px solid #ced4da !important;
        border-radius: 0.25rem !important;
        transition: border-color .15s;
    }
</style>

<div class="page-title">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <h3>Study Material Checkout</h3>
            </div>
        </div>
    </div>
</div>

<section class="courses-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="register-content">
                        <div class="heading">Checkout</div>
                        <form asp-controller="StudyMaterial" asp-action="Checkout" method="post">
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <input asp-for="BuyerName" type="text" class="form-control" placeholder="Full Name">
                                        <span asp-validation-for="BuyerName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <input asp-for="BuyerEmail" type="email" class="form-control" placeholder="Email Address">
                                        <span asp-validation-for="BuyerEmail" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <input asp-for="BuyerPhone" type="text" class="form-control" placeholder="Phone Number">
                                        <span asp-validation-for="BuyerPhone" class="text-danger"></span>
                                    </div>
                                </div>                                                         
                                <div class="col-lg-12 col-md-12">
                                    <button class="btn btn-primary" type="submit" formmethod="post">Proceed to Payment</button>
                                </div>
                            </div>
                        </form>                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>